* {
	margin: 0;
	padding: 0;
	font-size: 2vw;
}

body {
	user-select: none;
}

button {
	width: 16vw;
	height: 16wv;
}

#resource_ui {
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 10vw;
}

.resource {
	display: inline-block;
}

table {
	text-align: left;
}