* {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

button {
	width: 120px;
	height: 40px;
}

.upgrade_btn {
	margin-top: 20px;
	width: 500px;
	height: 80px;
}

.downgrade_btn {
	width: 40px;
	height: 80px;
	margin-left: 5px;
}

#resource_building_ui {
	margin-top: 80px;
	float: right;
}

#button_menu {
	margin-top: 80px;
	float: left;
}

table {
	text-align: left;
	margin-right: 20px
}

tr > td:nth-child(2) {
	padding-left: 40px;
}

.button_image {
	margin-right: 10px;
	margin-left: 4px;
}

.cancel {
	align-self: flex-end;
	height: 20px;
	margin-left: auto;
	margin-bottom: 4px;
	cursor: pointer;
}

.building_cell {
	display: flex;
	width: 250px;
}

.building_update_button_wrapper {
	display: flex;
	align-items: flex-end;
}

#navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background: #ddd;
	color: black;
}