* {
    margin:0px;
    padding:0px;
}

div {
    font-size:0px;
}

#formTitle {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: rgba(14, 68, 168, 0.65);
    font-size: 32px;
}

form {
    position: fixed;
    border: 3px solid #f1f1f1;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

label {
    font-size: 18px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    margin: 8px 0 12px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px 16px 0px 16px;
}

span.reg {
    font-size: 18px;
    padding: 8px 16px 16px 16px;
}

#regContainer {
    text-align: center;
}

.link {
    cursor:pointer;
    color: #0066ff;
    text-decoration:underline;
}

.link:hover {
    cursor:pointer;
    color: #000099;
    text-decoration:underline;
}

#backArrow {
    float: right;
    background-color: black;
    padding: 10px 0 10px 0;
}

#backArrow:hover {
    cursor: pointer;
}

#repeatPassword {
    /*transition: all .45s ease-out;*/
    overflow: hidden;
}