* {
    margin:0px;
	padding:0px;
	font-size: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#image_holder {
	display: none;
}

#container {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#navbar {
	height: 48px;
	overflow: auto;
	background-color: #333;
}

#navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover, #dropdown_select:hover #dropdown_btn, #dropdown_menu a:hover {
	background: #ddd;
	color: black;
}

#map_container {
	text-align: center;
	height: 100%;
}

#map {
	background-color: black;
	border: 2px solid darkblue;
	width: 100%;
	height: calc(100% - 4px);
}

#dropdown_select {
	float: left;
	overflow: hidden;
}

#dropdown_select #dropdown_btn {
	font-size: 17px;  
	border: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#dropdown_menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#dropdown_menu a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#dropdown_select:hover #dropdown_menu {
	display: block;
}

#layout_table {
	padding-top: 10px;
	padding-bottom: 10px;
	height: calc(100% - 48px);
}

#layout_table > tbody > tr > td {
	width: 20%;
	padding: 0px 5px;
}

#map_column {
	width: 50% !important;
}

#assemble_fleet {
	font-size: 20px;
}