* {
    margin:0px;
	padding:0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 0px;
	overflow: hidden;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#image_holder {
	display: none;
}

#container {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#navbar {
	height: 48px;
	background-color: #333;
}

#navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover, #dropdown_select:hover #dropdown_btn, #dropdown_menu a:hover {
	background: #ddd;
	color: black;
}

#map_container {
	text-align: center;
	height: 100%;
}

#map {
	background-color: black;
	border: 2px solid darkblue;
	width: 100%;
	height: calc(100% - 4px);
}

#dropdown_select {
	float: left;
	overflow: hidden;
}

#dropdown_select #dropdown_btn {
	font-size: 17px;  
	border: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#dropdown_menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#dropdown_menu a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#dropdown_select:hover #dropdown_menu {
	display: block;
}

#layout_table {
	padding-top: 10px;
	padding-bottom: 10px;
	height: calc(100% - 48px);
}

#layout_table > tbody > tr > td {
	width: 20%;
	padding: 0px 5px;
}

#map_column {
	user-select: none;
	width: 50% !important;
}

#fleet_ui {
	text-align: center;
}

#fleet_ui > p {
	margin-top: 20px;
	margin-bottom: 20px;
}

#fleet_ui p {
	padding-top: 10px;
}

#fleet_ui input {
	width: 60px;
	margin-bottom: 10px;
	font-size: 20px;
}

#fleet_ui button {
	margin-left: 5px;
	user-select: none;
}

#fleet_ui, #fleet_ui button, input {
	font-size: 20px;
}

#assemble_fleet_wrapper table {
	width: 100%;
}

#assemble_fleet_wrapper label {
	padding-right: 5px;
}

#assemble_fleet_wrapper input {
	width: 80px;
}

#assemble_fleet_wrapper table span {
	cursor: pointer;
}

#assemble_fleet_wrapper > button {
	margin-bottom: 10px;
}

#abandon_timer {
	color: red;
	font-weight: bold;
	padding: 0 0 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#abandon_timer > span {
	padding-left: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#abandon_timer > span > span {
	padding-left: 5px;
}

.cancel {
	height: 20px;
	padding-left: 15px;
	cursor: pointer;
}

#dialog_div {
	font-size: 22px;
	text-align: center;
	position: absolute;
	transform: translateX(-50%);
	top: 8%;
	left: 50%;
	right: 0;
	background-color: rgb(155, 155, 155);
	z-index: 3;
	padding: 10px;
	max-width: 25%;
	min-width: 350px;
	max-height: 80%;
	white-space: pre-line;
	border: 2px solid black;
	box-shadow: 2px 2px 10px black;
	overflow-y: auto;
	overflow-x: hidden;
}

#dialog_div > button {
	font-size: 20px;
	margin-top: 10px;
	padding: 6px 12px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 1);
}

#dialog_div > button:first-of-type {
	margin-right: 20%;
}

#dialog_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0);
}