* {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

button, html, input {
	font-size: 24px;
}

.upgrade_btn {
	width: 500px;
	height: 80px;
}

.downgrade_btn {
	width: 40px;
	height: 80px;
	margin-left: 2px;
}

#button_menu {
	float: left;
}

#button_menu > div {
	padding-bottom: 10px;
}

.button_image {
	margin-right: 10px;
	margin-left: 4px;
}

.cancel {
	align-self: flex-end;
	height: 20px;
	margin-left: auto;
	margin-bottom: 4px;
	cursor: pointer;
}

.building_cell, .unit_cell {
	display: flex;
	width: 250px;
}

.building_update_button_wrapper {
	display: flex;
	align-items: flex-end;
}

#navbar {
	overflow: hidden;
	background-color: #333;
	margin-bottom: 20px;
}

#navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover, #dropdown_select:hover #dropdown_btn, #dropdown_menu a:hover {
	background: #ddd;
	color: black;
}

#dropdown_select {
	float: left;
	overflow: hidden;
}

#dropdown_select #dropdown_btn {
	font-size: 17px;  
	border: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#dropdown_menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#dropdown_menu a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#dropdown_select:hover #dropdown_menu {
	display: block;
}

#layout_table {
	width: 100%;
	padding: 0 20px;
}

#layout_table > tbody > tr > td:nth-child(1) {
	float: left;
}

#layout_table > tbody > tr > td:nth-child(2) {
	float: right;
}

#layout_table > tbody > tr:first-child > td {
	margin-bottom: 100px;
}

#resource_table > tbody > tr > td:nth-child(2), #units_table > tbody > tr > td:nth-child(2) {
	padding-left: 40px;
}

.unit_create_count {
	width: 100px;
}

#submit_unit_create_cell {
	padding: 3px 0;
}

#units_que_table {
	width: 100%;
	font-size: 20px;
}

#create_units_table {
	margin-top: 20px;
}

#create_units_table, #units_que_table {
	text-align: center;
	border: 1px solid black;
}

#create_units_table > * > tr > *:not(:first-child) {
	border-left: 1px solid black;
}

#create_units_table > * > tr > * {
	padding: 5px;
}

#units_que_table > * > tr > * {
	padding: 0 5px;
}

#create_units_table > tbody > tr > td {
	border-top: 1px solid black;
}

#units_que_table > thead > tr:first-child > th {
	border-bottom: 1px solid black;
}