* {
    margin:0px;
    padding:0px;
}

#report_table_container {
    display: flex;
    height: 100%;
}

a {
    cursor: pointer;
}

#report_container {
	font-size: 22px;
	text-align: center;
	position: absolute;
	transform: translateX(-50%);
	top: 8%;
	left: 50%;
	right: 0;
	background-color: rgb(155, 155, 155);
	z-index: 3;
	padding: 10px;
	max-width: 50%;
	min-width: 350px;
	max-height: 80%;
	white-space: pre-line;
	border: 2px solid black;
	box-shadow: 2px 2px 4px black;
	overflow-y: auto;
}

#report_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

tr > td {
	padding-right: 30px;
}